$orange: #f79515;
$grey: #969696;

$fs_big: 6rem;
$fs_medium: 4rem;
$fs_Regular: 3rem;


$fs_mobileBig: 3rem;
$fs_mobileGrande: 2.8rem;
$fs_mobileMedium: 2.6rem;
$fs_mobileRegular: 2.2rem;
$fs_mobileParagraph: 2rem;
$fs_mobileSmall: 1.6rem;
$fs_mobileTiny: 1.33rem;

$fs_artcileTitle: $fs_mobileBig;
$fs_articleParagraph: $fs_mobileParagraph;

$desktop: 620px;
$iphone5: 330px;