:root {
  font-size: 62.5%;
  font-family: 'Fira Code', monospace;
}

*,
*::after,
*::before {
  box-sizing: content-box;
}

p {
  font-size: $fs_mobileParagraph;
  font-weight: lighter;
  line-height: 1.2;
}

h1 {
  font-size: $fs_mobileBig;
}

h2 {
  font-size: $fs_mobileGrande;
}

h3 {
  font-size: $fs_mobileMedium;
}

a{
  color: $orange;
}