@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');

:root{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

body{
  background-color: #061539;
}

*, *::after, *::before{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  font-family: 'Open Sans', sans-serif;
}
